.legalMove {
  background-color: rgba(22, 201, 6, 0.5);
  z-index: 2;
  position: absolute;
}

.legalMove.a8 {
  top: 0%;
  left: 0%;
}

.legalMove.b8 {
  top: 0%;
  left: 12.5%;
}

.legalMove.c8 {
  top: 0%;
  left: 25%;
}

.legalMove.d8 {
  top: 0%;
  left: 37.5%;
}

.legalMove.e8 {
  top: 0%;
  left: 50%;
}

.legalMove.f8 {
  top: 0%;
  left: 62.5%;
}

.legalMove.g8 {
  top: 0%;
  left: 75%;
}

.legalMove.h8 {
  top: 0%;
  left: 87.5%;
}

.legalMove.a7 {
  top: 12.5%;
  left: 0%;
}

.legalMove.b7 {
  top: 12.5%;
  left: 12.5%;
}

.legalMove.c7 {
  top: 12.5%;
  left: 25%;
}

.legalMove.d7 {
  top: 12.5%;
  left: 37.5%;
}

.legalMove.e7 {
  top: 12.5%;
  left: 50%;
}

.legalMove.f7 {
  top: 12.5%;
  left: 62.5%;
}

.legalMove.g7 {
  top: 12.5%;
  left: 75%;
}

.legalMove.h7 {
  top: 12.5%;
  left: 87.5%;
}

.legalMove.a6 {
  top: 25%;
  left: 0%;
}

.legalMove.b6 {
  top: 25%;
  left: 12.5%;
}

.legalMove.c6 {
  top: 25%;
  left: 25%;
}

.legalMove.d6 {
  top: 25%;
  left: 37.5%;
}

.legalMove.e6 {
  top: 25%;
  left: 50%;
}

.legalMove.f6 {
  top: 25%;
  left: 62.5%;
}

.legalMove.g6 {
  top: 25%;
  left: 75%;
}

.legalMove.h6 {
  top: 25%;
  left: 87.5%;
}

.legalMove.a5 {
  top: 37.5%;
  left: 0%;
}

.legalMove.b5 {
  top: 37.5%;
  left: 12.5%;
}

.legalMove.c5 {
  top: 37.5%;
  left: 25%;
}

.legalMove.d5 {
  top: 37.5%;
  left: 37.5%;
}

.legalMove.e5 {
  top: 37.5%;
  left: 50%;
}

.legalMove.f5 {
  top: 37.5%;
  left: 62.5%;
}

.legalMove.g5 {
  top: 37.5%;
  left: 75%;
}

.legalMove.h5 {
  top: 37.5%;
  left: 87.5%;
}

.legalMove.a4 {
  top: 50%;
  left: 0%;
}

.legalMove.b4 {
  top: 50%;
  left: 12.5%;
}

.legalMove.c4 {
  top: 50%;
  left: 25%;
}

.legalMove.d4 {
  top: 50%;
  left: 37.5%;
}

.legalMove.e4 {
  top: 50%;
  left: 50%;
}

.legalMove.f4 {
  top: 50%;
  left: 62.5%;
}

.legalMove.g4 {
  top: 50%;
  left: 75%;
}

.legalMove.h4 {
  top: 50%;
  left: 87.5%;
}

.legalMove.a3 {
  top: 62.5%;
  left: 0%;
}

.legalMove.b3 {
  top: 62.5%;
  left: 12.5%;
}

.legalMove.c3 {
  top: 62.5%;
  left: 25%;
}

.legalMove.d3 {
  top: 62.5%;
  left: 37.5%;
}

.legalMove.e3 {
  top: 62.5%;
  left: 50%;
}

.legalMove.f3 {
  top: 62.5%;
  left: 62.5%;
}

.legalMove.g3 {
  top: 62.5%;
  left: 75%;
}

.legalMove.h3 {
  top: 62.5%;
  left: 87.5%;
}

.legalMove.a2 {
  top: 75%;
  left: 0%;
}

.legalMove.b2 {
  top: 75%;
  left: 12.5%;
}

.legalMove.c2 {
  top: 75%;
  left: 25%;
}

.legalMove.d2 {
  top: 75%;
  left: 37.5%;
}

.legalMove.e2 {
  top: 75%;
  left: 50%;
}

.legalMove.f2 {
  top: 75%;
  left: 62.5%;
}

.legalMove.g2 {
  top: 75%;
  left: 75%;
}

.legalMove.h2 {
  top: 75%;
  left: 87.5%;
}

.legalMove.a1 {
  top: 87.5%;
  left: 0%;
}

.legalMove.b1 {
  top: 87.5%;
  left: 12.5%;
}

.legalMove.c1 {
  top: 87.5%;
  left: 25%;
}

.legalMove.d1 {
  top: 87.5%;
  left: 37.5%;
}

.legalMove.e1 {
  top: 87.5%;
  left: 50%;
}

.legalMove.f1 {
  top: 87.5%;
  left: 62.5%;
}

.legalMove.g1 {
  top: 87.5%;
  left: 75%;
}

.legalMove.h1 {
  top: 87.5%;
  left: 87.5%;
}
