.nav {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 5px;
}

.link.active {
  color: var(--background);
  background-color: var(--primary);
}

@media screen and (max-width: 1100px) {
  .nav {
    justify-content: center;
  }
}
