.piece {
  background-size: 100%;
  z-index: 10;
  position: absolute;
  cursor: grab;
}

.piece.dragging {
  z-index: 20;
  cursor: grabbing;
}

.piece.a8 {
  top: 0%;
  left: 0%;
}

.piece.b8 {
  top: 0%;
  left: 12.5%;
}

.piece.c8 {
  top: 0%;
  left: 25%;
}

.piece.d8 {
  top: 0%;
  left: 37.5%;
}

.piece.e8 {
  top: 0%;
  left: 50%;
}

.piece.f8 {
  top: 0%;
  left: 62.5%;
}

.piece.g8 {
  top: 0%;
  left: 75%;
}

.piece.h8 {
  top: 0%;
  left: 87.5%;
}

.piece.a7 {
  top: 12.5%;
  left: 0%;
}

.piece.b7 {
  top: 12.5%;
  left: 12.5%;
}

.piece.c7 {
  top: 12.5%;
  left: 25%;
}

.piece.d7 {
  top: 12.5%;
  left: 37.5%;
}

.piece.e7 {
  top: 12.5%;
  left: 50%;
}

.piece.f7 {
  top: 12.5%;
  left: 62.5%;
}

.piece.g7 {
  top: 12.5%;
  left: 75%;
}

.piece.h7 {
  top: 12.5%;
  left: 87.5%;
}

.piece.a6 {
  top: 25%;
  left: 0%;
}

.piece.b6 {
  top: 25%;
  left: 12.5%;
}

.piece.c6 {
  top: 25%;
  left: 25%;
}

.piece.d6 {
  top: 25%;
  left: 37.5%;
}

.piece.e6 {
  top: 25%;
  left: 50%;
}

.piece.f6 {
  top: 25%;
  left: 62.5%;
}

.piece.g6 {
  top: 25%;
  left: 75%;
}

.piece.h6 {
  top: 25%;
  left: 87.5%;
}

.piece.a5 {
  top: 37.5%;
  left: 0%;
}

.piece.b5 {
  top: 37.5%;
  left: 12.5%;
}

.piece.c5 {
  top: 37.5%;
  left: 25%;
}

.piece.d5 {
  top: 37.5%;
  left: 37.5%;
}

.piece.e5 {
  top: 37.5%;
  left: 50%;
}

.piece.f5 {
  top: 37.5%;
  left: 62.5%;
}

.piece.g5 {
  top: 37.5%;
  left: 75%;
}

.piece.h5 {
  top: 37.5%;
  left: 87.5%;
}

.piece.a4 {
  top: 50%;
  left: 0%;
}

.piece.b4 {
  top: 50%;
  left: 12.5%;
}

.piece.c4 {
  top: 50%;
  left: 25%;
}

.piece.d4 {
  top: 50%;
  left: 37.5%;
}

.piece.e4 {
  top: 50%;
  left: 50%;
}

.piece.f4 {
  top: 50%;
  left: 62.5%;
}

.piece.g4 {
  top: 50%;
  left: 75%;
}

.piece.h4 {
  top: 50%;
  left: 87.5%;
}

.piece.a3 {
  top: 62.5%;
  left: 0%;
}

.piece.b3 {
  top: 62.5%;
  left: 12.5%;
}

.piece.c3 {
  top: 62.5%;
  left: 25%;
}

.piece.d3 {
  top: 62.5%;
  left: 37.5%;
}

.piece.e3 {
  top: 62.5%;
  left: 50%;
}

.piece.f3 {
  top: 62.5%;
  left: 62.5%;
}

.piece.g3 {
  top: 62.5%;
  left: 75%;
}

.piece.h3 {
  top: 62.5%;
  left: 87.5%;
}

.piece.a2 {
  top: 75%;
  left: 0%;
}

.piece.b2 {
  top: 75%;
  left: 12.5%;
}

.piece.c2 {
  top: 75%;
  left: 25%;
}

.piece.d2 {
  top: 75%;
  left: 37.5%;
}

.piece.e2 {
  top: 75%;
  left: 50%;
}

.piece.f2 {
  top: 75%;
  left: 62.5%;
}

.piece.g2 {
  top: 75%;
  left: 75%;
}

.piece.h2 {
  top: 75%;
  left: 87.5%;
}

.piece.a1 {
  top: 87.5%;
  left: 0%;
}

.piece.b1 {
  top: 87.5%;
  left: 12.5%;
}

.piece.c1 {
  top: 87.5%;
  left: 25%;
}

.piece.d1 {
  top: 87.5%;
  left: 37.5%;
}

.piece.e1 {
  top: 87.5%;
  left: 50%;
}

.piece.f1 {
  top: 87.5%;
  left: 62.5%;
}

.piece.g1 {
  top: 87.5%;
  left: 75%;
}

.piece.h1 {
  top: 87.5%;
  left: 87.5%;
}
